{% extends 'base.html' %}

{% block contents %}
<div class="container">

<h1>Sign Up!</h1>
<form method = "POST" action="{% url 'signup' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="exampleInputUsername">Username</label>
        <input name="username" type="username" class="form-control" id="exampleInputUsername" placeholder="Enter Name">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail">Username</label>
        <input name="email" type="email" class="form-control" id="exampleInputEmail" placeholder="Enter E-mail">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input name='password1' type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword2">Confirm Password</label>
        <input name='password2' type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
    </div>
    <input class="btn btn-primary" type="submit" value="Sign Up">
</form>

</div>

{% endblock %}